:root {
    // COLORS
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --dark-blue-1: hsl(217, 54%, 11%); //(main BG)
    --dark-blue-2: hsl(216, 50%, 16%); //(card BG)
    --dark-blue-3: hsl(215, 32%, 27%); //(line)
    --white: hsl(0, 0%, 100%);
    --white2: #8BACD9;

    // FONT
    --ff-outfit: "Outfit", sans-serif;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fw-300: 300;
    --fw-400: 400;
    --fw-600: 600;
    --lh-15: 1.47;

    --gap: 20px;

    --card-width: 350px;
    --card-padding: 24px;
    --card-radius: 15px; // -> 14px
    --img-radius: 7px; // -> 5px

    --avatar-sz: 33px;
}

// simple reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

// general styling
body {
    font-size: var(--fs-18);
    font-family: var(--ff-outfit);
    line-height: var(--lh-15);
    background-color: var(--dark-blue-1);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

// card
.card {
    background-color: var(--dark-blue-2);
    border-radius: var(--card-radius);
    padding: var(--card-padding);
    max-width: var(--card-width);

    color: var(--white);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); //
}

.card__image-wrapper {
    margin-bottom: 0.9em;
    max-height: 302px;
    overflow: hidden;
    position: relative;
    border-radius: var(--img-radius);
    cursor: pointer;

    &::after {
        --cyan: hsl(178, 100%, 50%, 0.5);
        content: url("images/icon-view.svg");
        background-color: var(--cyan);
        inset: 0;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    &:hover,
    &:focus {
        &::after {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.card__image {
    width: 100%;
    border-radius: var(--img-radius);
    /* object-fit: c; */
}




.card__title {
    font-size: var(--fs-22);
    font-weight: var(--fw-600);
}

.card__description {
    color: var(--white2);
    font-weight: var(--fw-300); //
    line-height: var(--lh-15);
    margin-top: 0.8em;
    margin-bottom: 1.2em;
}


// ------- details 
.card__details {
    display: flex;
    font-size: var(--fs-16);
    margin-bottom: 1.35em;
}

.card__price,
.card__time {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 7px; //
}

.card__time {
    color: var(--white2);
    justify-content: end;
    margin-right: 2px;
}

.card__price-value {
    font-weight: var(--fw-600);
    color: var(--cyan);
}

.card__price-icon,
.card__time-icon {
    height: 75%;
}

.card__time-icon {
    height: 70%;
}

// hr
hr {
    height: 0px;
    border: none;
    box-shadow: 0 0 0 0.15px var(--white2);
}

// ------- creator 
.card__creator {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: var(--fs-16);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.card__creator-avatar {
    width: var(--avatar-sz);
    aspect-ratio: 1;
    border-radius: 50%;
    border: solid 1px var(--white);
}

.card__creator-by {
    --white: hsla(0, 0%, 100%, 0.6);
    color: var(--white2);
}

.card__creator-link {
    --white: hsla(0, 0%, 100%);
    color: var(--white);
}

// utilities

.yeah:hover {
    color: var(--cyan);
}